// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

.error-message {
  font-size: 12px;
  color: #ec4561;
  margin-top: 5px;
}
.error-border {
  border-color: #ec4561 !important;
}
.submit-button {
  height: 38px !important;
}
.router-link-exact-active {
  color: #b4c9de !important;
  background-color: #383b4e;
}
a {
  color: rgb(52, 144, 220)
}
.error{
  color: red;
}
thead {
  background: #333547;
  color: white;
}
//.page-title{
//    background: #333547;
//    color: white;
//    padding: 3px;
//}


.table thead th {
  vertical-align: middle;
}
#mdp {
  font-family: 'Nunito', sans-serif;
  color: #000000;

  table tr th,table tr td {
    color: #000000 !important;
  }
  .table-bordered {
    border: 1px solid #000000 !important;
  }
  .table-bordered td, .table-bordered th {
    border: 1px solid #000000 !important;
  }
  .third_part {
    input {
      width: 90%;
      height: 55px;
      border: 1px solid #000000;
    }
  }
  .fourth_part {
    input {
      height: 40px;
      border: 1px solid #000000;
    }
  }

  .table>tbody>tr>td, .table>tfoot>tr>td, .table>thead>tr>td {
    padding: 5px 14px!important;
  }
  .table td, .table th {
    padding: 4px!important;
  }
  .table th {
    font-weight: bold;
  }
}

